name: Android CI

on:
  push:
    branches: [ "main" ]
    tags: [ v* ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: "0"
          fetch-tags: "true"
          submodules: "recursive"

      - name: clone core
        run:
          git clone -b my https://github.com/Asutorufa/tailscale.git

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          check-latest: true
          go-version: 'stable'
          # go-version-file: "tailscale/go.mod"
          cache-dependency-path: |
            tailscale/go.sum
            appctr/go.sum

      - name: set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"
          cache: gradle

      - name: build core
        run: |
          export CORE_HOME=${PWD}/tailscale
          sh app/src/main/jniLibs/build.sh

      - name: build appctr
        run: |
          cd appctr
          go install golang.org/x/mobile/cmd/gomobile@latest
          gomobile init
          sh build.sh

      - name: Build with Gradle
        env:
          KEYSTORE_PATH: ${{ github.workspace }}/release.keystore
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          KEYSTORE: ${{ secrets.KEYSTORE_BASE64 }}
        run: |
          echo ${KEYSTORE} | base64 -d > ${KEYSTORE_PATH}
          chmod +x gradlew
          ./gradlew app:assembleRelease --stacktrace

      - name: upload_arm64-v8a
        uses: actions/upload-artifact@v4
        with:
          name: app-arm64-v8a-release
          path: app/build/outputs/apk/release/tailscaled-arm64-v8a-release.apk
      - name: upload_x86_64
        uses: actions/upload-artifact@v4
        with:
          name: app-x86_64-release
          path: app/build/outputs/apk/release/tailscaled-x86_64-release.apk
      - name: metadata.json
        uses: actions/upload-artifact@v4
        with:
          name: metadata.json
          path: app/build/outputs/apk/release/output-metadata.json